{:tasks
 {test {:doc "Run the test suite"
        :task (shell "clojure -M:test")}

  repl {:doc "Start a Clojure REPL"
        :override-builtin true
        :task (shell "clojure -M")}

  nrepl {:doc "Start an nREPL server with test dependencies"
         :task (shell "clojure -M:test:nrepl")}

  format {:doc "Format Clojure source"
          :task (shell "clojure -M:format fix src test")}

  format:check {:doc "Check Clojure source formatting"
                :task (shell "clojure -M:format check src test")}

  run {:doc "Run the RealWorld CLI"
       :override-builtin true
       :task (apply shell "./bin/realworld" *command-line-args*)}}}
