{:tasks
 {test {:doc "Run the test suite"
        :task (shell "clojure -M:test")}

  repl {:doc "Start a Clojure REPL"
        :override-builtin true
        :task (shell "clojure -M")}

  nrepl {:doc "Start an nREPL server with CIDER middleware"
         :task (shell "clojure -M:nrepl")}

  run {:doc "Run the RealWorld CLI"
       :override-builtin true
       :task (apply shell "./bin/realworld" *command-line-args*)}}}
