{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.5"}
        org.babashka/cli {:mvn/version "0.12.86"}}
 :aliases
 {:test {:extra-paths ["test"]
         :main-opts ["-m" "realworld.test-runner"]}}}
