{:paths ["src" "resources"]
 :deps {exoscale/interceptor {:mvn/version "0.1.17"}
        metosin/malli {:mvn/version "0.20.1"}
        org.clojure/clojure {:mvn/version "1.12.5"}
        org.babashka/cli {:mvn/version "0.12.86"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {com.gfredericks/test.chuck {:mvn/version "0.2.15"}
                      io.github.noahtheduke/lazytest {:mvn/version "2.0.0"}
                      org.clojure/test.check {:mvn/version "1.1.3"}}
         :main-opts ["-m" "lazytest.main"]}
  :nrepl {:extra-deps {nrepl/nrepl {:mvn/version "1.7.0"}
                       cider/cider-nrepl {:mvn/version "0.62.2"}}
          :main-opts ["-m" "nrepl.cmdline"
                      "--middleware" "[cider.nrepl/cider-middleware]"]}
  :format {:extra-deps {dev.weavejester/cljfmt {:mvn/version "0.16.5"}}
           :main-opts ["-m" "cljfmt.main"]}}}
